In [1]:
import pandas as pd

#ler ficheiro cast.csv para dataframe casts 
#dados estatisticos do conjunto

In [3]:
casts = pd.read_csv('cast.csv', index_col=None)
print(casts.describe())

               year             n
count  75001.000000  46035.000000
mean    1990.536473     16.814359
std       26.748233     24.695616
min     1912.000000      1.000000
25%     1974.000000      4.000000
50%     2002.000000     10.000000
75%     2012.000000     21.000000
max     2023.000000    701.000000

imprimir as cinco primeiras linhas do dataframe casts

In [4]:
print(casts.head())

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

#ler ficheiro titles.csv para dataframe titles

In [8]:
titles = pd.read_csv('titles.csv', index_col =None)

#imprimir as cinco últimas linhas do dataframe titles

In [6]:
print(titles.tail())

                      title  year
49995                 Rebel  1970
49996               Suzanne  1996
49997                 Bomba  2013
49998  Aao Jao Ghar Tumhara  1984
49999            Mrs. Munck  1995

#alterar numero de linhas e colunas a visualizar sempre que se imprime todo o dataframe

In [10]:
pd.set_option('display.max_rows', 10, 'display.max_columns', 10)
print(titles)

                         title  year
0               The Rising Son  1990
1      The Thousand Plane Raid  1969
2             Crucea de piatra  1993
3                      Country  2000
4                   Gaiking II  2011
...                        ...   ...
49995                    Rebel  1970
49996                  Suzanne  1996
49997                    Bomba  2013
49998     Aao Jao Ghar Tumhara  1984
49999               Mrs. Munck  1995

[50000 rows x 2 columns]

#atribuir à variável tamanho o numero total d linhas do dataframe titles
#imprimir tamanho

In [12]:
tamanho=len(titles)
print(tamanho)

50000

#imprimir primeiras três linhas do dataframe titles

In [13]:
print(titles.head(3))

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993

#obter serie t a partir do dataframe titles selecionando a coluna title 
#imprimir tipo de dados de t

In [21]:
t = titles['title']
print(type(t))

<class 'pandas.core.series.Series'>

Obter informação geral do dataframe casts

In [22]:
casts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75001 entries, 0 to 75000
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      75000 non-null  object
 1   year       75001 non-null  int64
 2   name       75001 non-null  object
 3   type       75001 non-null  object
 4   character  75001 non-null  object
 5   n          46035 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.4+ MB

#imprimir linha de indice 0 no dataframe titles

In [23]:
print(titles.iloc[0])

title    The Rising Son
year               1990
Name: 0, dtype: object