A função filter() do pandas é usada para filtrar linhas de um DataFrame baseado em uma condição específica. Ela retorna um novo DataFrame com as linhas que satisfazem a condição dada.

In [22]:
import pandas as pd
df = pd.read_csv('sales_data.csv')
#df.info()
# filtrar as linhas onde a coluna "Customer_Age" é maior que 50
#age_maior_50 = df.filter(['Customer_Age'] > 50) tem de ser usado de forma diferente
'''exemplo
idades = [25, 30, 55, 60, 45]
maiores_50 = list(filter(lambda idade: idade > 50, idades))
print(maiores_50) 
# Saída: [55, 60]'''
#age_maior_50 = (df['Customer_Age'] > 50 & (df['Countr#y'] == 'United States'))

age_maior_50 = df[df['Customer_Age'] > 50]

#age_maior_50 = (df['Customer_Age'] > 50) & (df['Country'] == 'United States')
age_maior_50

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
22,2014-03-27,27,March,2014,51,Adults (35-64),M,United States,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,9,45,120,524,405,929
23,2016-03-27,27,March,2016,51,Adults (35-64),M,United States,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,407,315,722
42,2013-08-28,28,August,2013,61,Adults (35-64),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,581,360,941
43,2015-08-28,28,August,2015,61,Adults (35-64),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,10,45,120,726,450,1176
44,2013-08-27,27,August,2013,57,Adults (35-64),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,148,90,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112977,2015-08-31,31,August,2015,54,Adults (35-64),M,Australia,New South Wales,Clothing,Vests,"Classic Vest, M",25,24,64,792,600,1392
112996,2014-03-25,25,March,2014,58,Adults (35-64),F,Australia,New South Wales,Clothing,Vests,"Classic Vest, L",9,24,64,285,216,501
112997,2016-03-25,25,March,2016,58,Adults (35-64),F,Australia,New South Wales,Clothing,Vests,"Classic Vest, L",10,24,64,317,240,557
112998,2014-04-06,6,April,2014,58,Adults (35-64),F,Australia,New South Wales,Clothing,Vests,"Classic Vest, L",25,24,64,792,600,1392
112999,2016-04-06,6,April,2016,58,Adults (35-64),F,Australia,New South Wales,Clothing,Vests,"Classic Vest, L",22,24,64,697,528,1225

A função filter() também pode ser usada para filtrar dados com base em uma função personalizada. Por exemplo:

In [17]:
import pandas as pd
df = pd.read_csv('sales_data.csv')

data_range = (df['Date'] >= '2013-01-01') & (df['Date'] <= '2013-12-31')
data_range
print(df[data_range])

              Date  Day      Month  Year  Customer_Age             Age_Group  \
0       2013-11-26   26   November  2013            19           Youth (<25)
10      2013-07-30   30       July  2013            32  Young Adults (25-34)
12      2013-07-15   15       July  2013            34  Young Adults (25-34)
14      2013-08-02    2     August  2013            29  Young Adults (25-34)
16      2013-09-02    2  September  2013            29  Young Adults (25-34)
...            ...  ...        ...   ...           ...                   ...
113014  2013-12-10   10   December  2013            20           Youth (<25)
113016  2013-10-04    4    October  2013            20           Youth (<25)
113020  2013-10-02    2    October  2013            34  Young Adults (25-34)
113026  2013-07-08    8       July  2013            29  Young Adults (25-34)
113028  2013-12-28   28   December  2013            41        Adults (35-64)

       Customer_Gender         Country             State Product_Category  \
0                    M          Canada  British Columbia      Accessories
10                   F       Australia          Victoria      Accessories
12                   M       Australia          Victoria      Accessories
14                   M          Canada  British Columbia      Accessories
16                   M          Canada  British Columbia      Accessories
...                ...             ...               ...              ...
113014               F   United States        Washington         Clothing
113016               M   United States            Oregon         Clothing
113020               M   United States        California         Clothing
113026               M         Germany            Hessen         Clothing
113028               M  United Kingdom           England         Clothing

       Sub_Category              Product  Order_Quantity  Unit_Cost  \
0        Bike Racks  Hitch Rack - 4-Bike               8         45
10       Bike Racks  Hitch Rack - 4-Bike               8         45
12       Bike Racks  Hitch Rack - 4-Bike               7         45
14       Bike Racks  Hitch Rack - 4-Bike               5         45
16       Bike Racks  Hitch Rack - 4-Bike               2         45
...             ...                  ...             ...        ...
113014        Vests      Classic Vest, M               8         24
113016        Vests      Classic Vest, L              16         24
113020        Vests      Classic Vest, S              25         24
113026        Vests      Classic Vest, L              20         24
113028        Vests      Classic Vest, S               2         24

        Unit_Price  Profit  Cost  Revenue
0              120     590   360      950
10             120     398   360      758
12             120     349   315      664
14             120     369   225      594
16             120     148    90      238
...            ...     ...   ...      ...
113014          64     207   192      399
113016          64     497   384      881
113020          64     968   600     1568
113026          64     710   480     1190
113028          64      75    48      123

[24443 rows x 18 columns]