In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5268 entries, 0 to 5267
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          5268 non-null   object
 1   Time          3049 non-null   object
 2   Location      5248 non-null   object
 3   Operator      5250 non-null   object
 4   Flight #      1069 non-null   object
 5   Route         3561 non-null   object
 6   Type          5241 non-null   object
 7   Registration  4933 non-null   object
 8   cn/In         4040 non-null   object
 9   Aboard        5246 non-null   float64
 10  Fatalities    5256 non-null   float64
 11  Ground        5246 non-null   float64
 12  Summary       4878 non-null   object
dtypes: float64(3), object(10)
memory usage: 535.2+ KB

In [2]:
print(df.head())
print(df.tail())

         Date   Time                            Location  \
0  09/17/1908  17:18                 Fort Myer, Virginia
1  07/12/1912  06:30             AtlantiCity, New Jersey
2  08/06/1913    NaN  Victoria, British Columbia, Canada
3  09/09/1913  18:30                  Over the North Sea
4  10/17/1913  10:30          Near Johannisthal, Germany

                 Operator Flight #          Route                    Type  \
0    Military - U.S. Army      NaN  Demonstration        Wright Flyer III
1    Military - U.S. Navy      NaN    Test flight               Dirigible
2                 Private        -            NaN        Curtiss seaplane
3  Military - German Navy      NaN            NaN  Zeppelin L-1 (airship)
4  Military - German Navy      NaN            NaN  Zeppelin L-2 (airship)

  Registration cn/In  Aboard  Fatalities  Ground  \
0          NaN     1     2.0         1.0     0.0
1          NaN   NaN     5.0         5.0     0.0
2          NaN   NaN     1.0         1.0     0.0
3          NaN   NaN    20.0        14.0     0.0
4          NaN   NaN    30.0        30.0     0.0

                                             Summary
0  During a demonstration flight, a U.S. Army fly...
1  First U.S. dirigible Akron exploded just offsh...
2  The first fatal airplane accident in Canada oc...
3  The airship flew into a thunderstorm and encou...
4  Hydrogen gas which was being vented was sucked...
            Date   Time                                           Location  \
5263  05/20/2009  06:30                             Near Madiun, Indonesia
5264  05/26/2009    NaN                  Near Isiro, DemocratiRepubliCongo
5265  06/01/2009  00:15  AtlantiOcean, 570 miles northeast of Natal, Br...
5266  06/07/2009  08:30       Near Port Hope Simpson, Newfoundland, Canada
5267  06/08/2009    NaN                  State of Arunachal Pradesh, India

                             Operator Flight #  \
5263  Military - Indonesian Air Force      NaN
5264                      Service Air      NaN
5265                       Air France      447
5266                       Strait Air      NaN
5267      Military - Indian Air Force      NaN

                                          Route  \
5263                           Jakarta - Maduin
5264                               Goma - Isiro
5265                     Rio de Janeiro - Paris
5266  Lourdes de BlanSablon - Port Hope Simpson
5267                         Mechuka for Jorhat

                                  Type Registration cn/In  Aboard  Fatalities  \
5263           Lockheed C-130 Hercules       A-1325  1982   112.0        98.0
5264                     Antonov An-26       9Q-CSA  5005     4.0         4.0
5265                   Airbus A330-203       F-GZCP   660   228.0       228.0
5266  Britten-Norman BN-2A-27 Islander      C-FJJRÂ    424     1.0         1.0
5267                     Antonov An-32          NaN   NaN    13.0        13.0

      Ground                                            Summary
5263     2.0  While on approach, the military transport cras...
5264     NaN  The cargo plane crashed while on approach to I...
5265     0.0  The Airbus went missing over the AtlantiOcean ...
5266     0.0  The air ambulance crashed into hills while att...
5267     0.0  The military transport went missing while en r...

In [3]:
print(df.isnull().any())

Date            False
Time             True
Location         True
Operator         True
Flight #         True
Route            True
Type             True
Registration     True
cn/In            True
Aboard           True
Fatalities       True
Ground           True
Summary          True
dtype: bool

In [4]:
print(df.dtypes)

Date             object
Time             object
Location         object
Operator         object
Flight #         object
Route            object
Type             object
Registration     object
cn/In            object
Aboard          float64
Fatalities      float64
Ground          float64
Summary          object
dtype: object

In [5]:
print(df.describe())

            Aboard   Fatalities       Ground
count  5246.000000  5256.000000  5246.000000
mean     27.554518    20.068303     1.608845
std      43.076711    33.199952    53.987827
min       0.000000     0.000000     0.000000
25%       5.000000     3.000000     0.000000
50%      13.000000     9.000000     0.000000
75%      30.000000    23.000000     0.000000
max     644.000000   583.000000  2750.000000