In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import numpy as np
import pylab as plt

In [2]:
df_train = pd.read_csv('train_no_nulls.csv')

Vamos agora exercitar a remoção de outliers. os dados originais foram modificados
para incluir ocorrências incomuns em alguns atributps
o primeiro passo para identificar outliers é ver uma breve descrição dos dados numéricos

In [3]:
print(df_train.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.839174    0.523008
std     257.353842    0.486592    0.836071   13.454159    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   29.839174    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000  133.000000    8.000000

            Parch         Fare
count  891.000000   891.000000
mean     0.381594    37.234698
std      0.806057   173.359298
min      0.000000   -10.100000
25%      0.000000     7.910400
50%      0.000000    14.454200
75%      0.000000    31.000000
max      6.000000  5012.329200

As colunas que nos interessam são: "age", 'sibsp', 'parch' e 'fare'
as restantes são categóricas ou apenas contém o ID do passageiro
coisas incomuns:
a menor tarifa é negativa(provavelmente um erro)
a maior tarifa é um número 10x maior que o terceiro quartil (75%)
há algém com a idade de 133 anos, hoje pouco provável. deve tratar-se de um outlier ou erro
isto é subjetivo sem conhecimento do domínio do problema
mas para fins didátios vamos tratar aqui as anomalias como erros nos dados e vamos remove-los trocando pelo valor médio
primeiro, vamos mostrar os 5 maiores e os 5 menores registos de idade

In [7]:
print(df_train.sort_values('Age', ascending=False).head(5)['Age'])
print(df_train.sort_values('Age', ascending=True).head(5)['Age'])

630    80.0
851    74.0
96     71.0
493    71.0
116    70.5
Name: Age, dtype: float64
803    0.42
755    0.67
469    0.75
644    0.75
78     0.83
Name: Age, dtype: float64

Na idade nota-se que o valor 133 parece fora da nornamlidade
vamos troca-lo pelo valor médio das idades, já calculado no ficheiro ftq14

In [6]:
media_idade = df_train['Age'].mean()
df_train.loc[df_train['Age']==133, 'Age'] = media_idade

Agora o mesmo para a tarifa, os 5 maiores e menores

In [8]:
print(df_train.sort_values('Fare', ascending=False).head(5)['Fare'])
print(df_train.sort_values('Fare', ascending=True).head(5)['Fare'])

258    5012.3292
737     512.3292
679     512.3292
88      263.0000
438     263.0000
Name: Fare, dtype: float64
156   -10.1
815     0.0
413     0.0
806     0.0
302     0.0
Name: Fare, dtype: float64

vimos aqui o valor negativo e um valor 10x do bilhete mais caro ara o segundo mais caro
vamos tratá-los como erros e atualizá-los com o valor da mediana da tarifa
usaremos a mediana em vez da média, pois ela é menos sensível aos outlires

In [10]:
mediana_tarifa = df_train['Fare'].median()
df_train.loc[df_train['Fare']>5000, 'Fare']=mediana_tarifa
df_train.loc[df_train['Fare']<0, 'Fare']=mediana_tarifa

print(df_train.sort_values('Fare',ascending=False).head(5)['Fare'])
print(df_train.sort_values('Fare',ascending=True).head(5)['Fare'])

737    512.3292
679    512.3292
27     263.0000
438    263.0000
341    263.0000
Name: Fare, dtype: float64
822    0.0
806    0.0
815    0.0
413    0.0
466    0.0
Name: Fare, dtype: float64

Vamos guardar os nossos dados

In [11]:
df_train.to_csv('train_no_nulls_no_outliers.csv', index=False)